body, html {
    height: 100%;
    background-image: url("./b-g.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }


.footer {
  position:"fixed";
  bottom: 0;
  width: 100%;
  background-color: #8abcdd;
}

.ul {
  text-align: center;
  list-style-type: none;
}

.wrapper {
  width: "auto";
  display: flex;
}